/*Dashboard Metabox - Media Upload*/
.wp-admin.index-php #quickupload.postbox .inside h2 {
display:none
}
.wp-admin.index-php #quickupload.postbox .inside .upload-flash-bypass {
display: none;
}
.wp-admin.index-php #quickupload.postbox .inside .max-upload-size {
display: none;
}
.wp-admin.index-php #quickupload.postbox .wrap {
margin: 10px 2px 0 2px;
}
/* Media Upload - only when no metabox h2 bottom border*/
.media-upload-form {
margin-top: 0px;
}

.wp-admin.index-php #quickupload.postbox input {
width: 130px;
}



.wp-admin.index-php #dashboard-widgets #quickupload.postbox textarea {
width: 160px;
}



.wp-admin.index-php #dashboard-widgets #quickupload.postbox form .submit {
margin: 0;
margin-left: 250px;
margin-top: 10px;
}







/*Dashboard General*/
.postbox h3, #namediv h3, #submitdiv h3, #dashboard_recent_comments .comment {
color: #B6B6B6;
font-size: 1.4em;
border-bottom: 1px solid #FFF;
}
.js .sidebar-name:hover h3, .js .postbox h3:hover {
color: #B6B6B6;
}




#simple_history_dashboard_widget .simple-history-tablenav .tablenav-pages {
text-align: center;
}



#simple_history_dashboard_widget .wrap.simple-history-wrap.simple-history-is-ready.simple-history-has-items {
margin: 10px 2px 0 2px;
}







.wp-admin.settings_page_widgets_view_custom DIV[id="wpfooter"]:nth-child(5),
.wp-admin.settings_page_widgets_view_custom #postbox-container-2:nth-child(2),
.wp-admin.settings_page_widgets_view_custom [id="postbox-container-1"]:nth-child(1)>P:nth-child(6),
.wp-admin.settings_page_widgets_view_custom [id="postbox-container-1"]:nth-child(1)>P:nth-child(5) {
display:none;
}





.wp-admin.media-new-php p.upload-flash-bypass, .wp-admin.media-new-php span.max-upload-size
{display:none;}



.settings_page_codepress-admin-columns .cta {display: none;}
.settings_page_codepress-admin-columns #plugin-support {display: none;}


/*ADMIN SEARCH PAGE*/
.wp-admin.admin_page_search:not(.role-administrator) a[href="#result-comments"],
.wp-admin.admin_page_search:not(.role-administrator) #result-comments,
.wp-admin.admin_page_search:not(.role-administrator) #result-plugins {display:none !important;}




.drag-drop #drag-drop-area {
border: 4px dashed #bbb;
height: 400px;
}






.wp-admin.index-php DIV[id="screen-meta"] DIV[id="screen-options-wrap"] FORM[id="adv-settings"]>H5[class="screen-layout"]:nth-child(3)
{display: none;
}
.wp-admin.index-php #screen-meta form#adv-settings>div.columns-prefs {
display: none;
}





.plugin-details {display:none;}




#dashboard-widgets #simple_history_dashboard_widget .wrap simple-history-wrap simple-history-is-ready simple-history-has-items {margin:0;}


.wp-admin.index-php .su-tabs {
margin: 0px !important;}






[for="wp_welcome_panel-hide"] {display: none !important;}


.sf-button.standard.accent.standard { padding: 14px 16px;
background-color: #dd3333;
color: #ffffff;
line-height: 18px;
margin: 0 10px 20px 0;
font-size: 12px;}

#wpadminbar #wp-admin-bar-my-item .ab-icon:before {
content: '\f132';
}


.sf-button.standard.accent.standard {
padding: 14px 16px !important;}


div.wrap h2:first {visibility:hidden;}



#adminmenu li.menu-top a.menu-top > .wp-menu-image img
{display: none !important;}

#adminmenu li.menu-top a.menu-top 
{box-shadow: none !important; -webkit-box-shadow: none !important;}

.wp-not-current-submenu.toplevel_page_my-shortcodes
{box-shadow: none !important; -webkit-box-shadow: none !important;}

#adminmenu li.menu-top a.menu-top > .wp-menu-image
{background: none !important;}


#wpadminbar #wp-admin-bar-my-item .ab-icon:before {
content: '\f132';
}

#toplevel_page_snippets > a > div.wp-menu-image:before {
content: '\f132';
}


.icon-linkedin-sign:before {
color: rgb(24, 114, 197);
}

.icon-twitter:before {
color: rgb(63, 197, 223);
}
.icon-facebook:before {
color: rgb(19, 90, 197)
}


.icon-google-plus-sign:before {
color: red;
}


.icon-facebook-sign:before {
color: rgb(43, 71, 214);
}





#wpbody-content #dashboard-widgets #postbox-container-2, #wpbody-content #dashboard-widgets #postbox-container-3, #wpbody-content #dashboard-widgets #postbox-container-4
{width:25%;}

#dashboard-widgets #postbox-container-3 .empty-container, #dashboard-widgets #postbox-container-4 .empty-container {
border: 3px dashed #bbb;
height: 250px;
min-height: 100px;
}



media="all"
@media only screen and (max-width: 1499px) and (min-width: 800px)
#wpbody #wpbody-content .metabox-holder.columns-1 .postbox-container .empty-container {
border: 3px dashed #bbb;
height: 250px;
min-height: 100px;
}



#wpbody #wpbody-content .metabox-holder.columns-1 .postbox-container .empty-container {
border: 3px dashed #bbb !important;
height: 250px !important;
min-height: 100px !important;
}

media="all"
@media only screen and (max-width: 1499px) and (min-width: 800px)
#wpbody #wpbody-content .metabox-holder.columns-1 .postbox-container .empty-container {
border: 3px dashed #bbb;
height: 250px;
min-height: 100px;
}




#wpbody-content #dashboard-widgets #postbox-container-2, #wpbody-content #dashboard-widgets #postbox-container-3, #wpbody-content #dashboard-widgets #postbox-container-4 {
width: 25.5%;
}

#wpbody-content #dashboard-widgets.columns-3 #postbox-container-1 {
width: 49%;
}



#postbox-container-2 {
width: 50.5% !important;
}

#wpbody-content #dashboard-widgets.columns-3 #postbox-container-1 {
width: 49.5%;
}

#postbox-container-4, #postbox-container-3 {
width: 25% !important;
}


.max-upload-size, .upload-flash-bypass {display:none;}

.postbox {min-width: 0px;}

p.upload-flash-bypass {display:none !important;}

#user-avatar-display {
top: 450px !important;}





.index-php .drag-drop #drag-drop-area {
border: 4px dashed #E0E0E0 !important;
background-image: url('http://candidbusiness.com/wp-content/uploads/animate_images.png');
background-repeat: no-repeat;
background-position: center;
background-position-y: 200px;
height: 350px !important;
}



#dashboard-widgets-wrap .columns-3 #postbox-container-4 .empty-container {
border: 3px dashed #bbb !important ;
}



#wpbody-content #dashboard-widgets.columns-3 #postbox-container-3, #wpbody-content #dashboard-widgets.columns-3 #postbox-container-4 {
float: right;
width: 24.5% !important;
}



.js #dashboard_quick_press .drafts {
border-top: 1px solid #eee;
background-color: #fafafa;
}


#wp-admin-bar-candid-adminsearch .ab-item.ab-empty-item, #wp-admin-bar-candid-adminsearch .ab-item.ab-empty-item:hover {
background: rgba(68, 68, 68, 0) !important;
}


.welcome-panel-close {display:none !important;}

#wp-admin-bar-candid-site-name .avatar.avatar-64.photo {
border-color: #FFFFFF;
background-color: #FFFFFF !important;
border: 1px solid #888 !important;
vertical-align: middle;
display: inline;
}

